.feedback-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
.feedback-container h2 {
    margin-bottom: 15px;
}
.emojis-rate {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
.emoji-rate {
    cursor: pointer;
    width: 100px;
    height: 100px;
    opacity: 0.6;
}
.emoji-rate:hover, .emoji-rate.selected {
    opacity: 1;
    border: 2px solid #000;
    border-radius: 50%;
}
.text-feedback {
    width: 500px;
    margin-bottom: 15px;
    height: 200px !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    resize: none;
    font-size: 16px !important;
}

.btn-feedback {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-feedback:hover {
    background-color: #218838; /* Màu đậm hơn khi hover */
}
.btn-feedback:active {
    transform: scale(0.95);
}
.btn-feedback:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); /* Ánh sáng nhẹ để tạo điểm nhấn khi focus */
}

.image-feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.image-feedback.dragover {
    border-color: #0000ff;
}